In [1]:
! pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.8/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.8/site-packages (from openpyxl) (1.1.0)

## Importing libraries

In [2]:
import pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference
import string

## Reading the excel file

In [3]:
excel_file=pd.read_excel('supermarket_sales.xlsx')
excel_file[['Gender','Product line','Total']]

     Gender            Product line      Total
0    Female       Health and beauty   548.9715
1    Female  Electronic accessories    80.2200
2      Male      Home and lifestyle   340.5255
3      Male       Health and beauty   489.0480
4      Male       Sports and travel   634.3785
..      ...                     ...        ...
995    Male       Health and beauty    42.3675
996  Female      Home and lifestyle  1022.4900
997    Male      Food and beverages    33.4320
998    Male      Home and lifestyle    69.1110
999  Female     Fashion accessories   649.2990

[1000 rows x 3 columns]

## Making a pivot table

In [4]:
report_table = excel_file.pivot_table(index='Gender',columns='Product line',values='Total',aggfunc='sum').round(0)

In [5]:
report_table

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0,30437.0,33171.0,18561.0,30037.0,28575.0
Male,27236.0,23868.0,22974.0,30633.0,23825.0,26548.0

## Exporting pivot table to excel file

In [6]:
report_table.to_excel('report_2021.xlsx',sheet_name='Report',startrow=4)

# Make the report with openpyxl

## creating row & column reference

In [7]:
wb = load_workbook('report_2021.xlsx')
sheet=wb['Report']

#cell references(original spreadsheet)
min_column = wb.active.min_column
max_column = wb.active.max_column
min_row = wb.active.min_row
max_row = wb.active.max_row

## adding excel charts through python

In [13]:
wb = load_workbook('report_2021.xlsx')
sheet=wb['Report']

#barchart
barchart = BarChart()

#locate data & categories
data = Reference(sheet, min_col=min_column+1, max_col=max_column, min_row = min_row, max_row=max_row) # including headers

categories = Reference(sheet, min_col=min_column, max_col=max_column, min_row = min_row+1, max_row=max_row) #not including headers

#adding data & categories 
barchart.add_data(data, titles_from_data=True)
barchart.set_categories(categories)

#location chart
sheet.add_chart(barchart, "B12")

barchart.title = 'Sales by Product line'
barchart.style = 5 #choose the chart style

wb.save('report_2021.xlsx')

## adding excel formulas through python

In [9]:
sheet['B7'] ='=SUM(B5:B6)'
sheet['B7'].style = 'Currency'

In [10]:
import string

alphabet = list(string.ascii_uppercase)
excel_alphabet = alphabet[0:max_column]
print(excel_alphabet)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [11]:
wb = load_workbook('report_2021.xlsx')
sheet=wb['Report']

#sum in column B-G
for i in excel_alphabet:
    if i!='A':
        sheet[f'{i}{max_row+1}'] = f'=SUM({i}{min_row+1}:{i}{max_row})'
        sheet[f'{i}{max_row+1}'].style = 'Currency'
        
        #adding total label
        sheet[f'{excel_alphabet[0]}{max_row+1}'] = 'Total'
        wb.save('report_2021.xlsx')

## Formating the report sheet

In [12]:
wb = load_workbook('report_2021.xlsx')
sheet = wb['Report']

sheet['A1'] = 'Sales Report'
sheet['A2'] =2021
sheet['A1'].font = Font('Arial',bold=True, size=20)
sheet['A2'].font = Font('Arial',bold=True, size=10)

wb.save('report_2021.xlsx')

# Automating the rport with a python function

In [ ]:
def automate_excel(file_name):
    excel_file=pd.read_excel('filename')
    excel_file[['Gender','Product line','Total']]
    report_table = excel_file.pivot_table(index='Gender',columns='Product line',values='Total',aggfunc='sum').round(0)